*{margin:0; padding:0}
body,html{
  font-size:10px;
}
html{
  background: url('./bg.jpg');
  background-size: cover;
  background-position: bottom center;
}
.keys{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key{
  font-size: 1.5rem;
  border: .4rem solid black;
  border-radius:.5rem;
  padding: 1rem .5rem;
  margin: 1rem;
  width: 10rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem black;
  /* transition: all 0.3 ease; */
  transition: all .07s ease;
}
.key kbd{
  display: block;
  font-size: 4rem;
}
.key span{
  display: block;
  font-size: 1.2rem;
  color: #ffc600;
  letter-spacing: .2rem;
  font-family: sans-serif;
  text-align: center;
}